# Example of a .env for this project

# DATABASE_URL is set to the connection URL for PostgreSQL, 
# specifying the username (admn), password (1234), 
# host (localhost), port (5432), database name (pizzapp-tasklist), 
# and schema (public).

#DATABASE_URL="postgresql://admn:1234@localhost:5432/pizzapp-tasklist?schema=public"

# Here your Secret jwt generated with https://www.md5hashgenerator.com/
#JWT_SECRET=5b87f31e9453fc3ab4fd093fdb717021